.Pokedex {
  margin-bottom: 5em;;
}

.Pokedex-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.Pokedex-winner{
  font-size: 2em;
  font-weight: bold;
  color: rgb(0, 170, 0);
}
.Pokedex-loser{
  font-size: 2em;
  font-weight: bold;
  color: rgb(201, 14, 14);
}


